body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.fa-solid {
  color: white;
  font-size: 40px;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

h1 , h2 {
    color: white;
    text-align: center;
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab , #39FF14, #B026FF);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s ease infinite;
  }

  .head1 {
    font-size: 60px;
  }

  #project .head2 {
    font-size: 45px;
  }

  #project-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #box {
    margin: 20px 40px;
    height: 450px;
    width: 370px;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all ease .7s;
    align-self: inherit;
  }

  #box:hover {
    transform: scale(1.1);
  }

  #box-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  #box h3 {
    text-align: center;
    font-size: 40px;
    color: cyan;
    align-self: initial;
  }

  #box span {
    color: white;
    padding: 10px 0;
    font-size: 25px;
  }

  .srccode {
    align-self: initial;
  }

  .download {
    align-self: initial;
  }

  #box details {
    color: white;
    padding: 10px 0;
    align-self: initial;
    font-size: 20px;
  }

  #box span a {
    color: white;
    text-decoration: none;
    align-self: initial;
    transition: all ease .6s;
  }

  #box span a:hover {
    color: cyan;
  }

  @media all and (min-width: 281px) and (max-width: 600px) {
    #project-content {
      flex-direction: column;
    }

    #box {
      height: 465px;
      width: 270px;
      margin: 30px 10px;
    }

    #box span {
      font-size: 20px;
    }

    #box details {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 280px) {
    #project-content{
      flex-direction: column;
    }

    #box {
      height: 480px;
      width: 225px;
      margin: 30px 10px;
    }

    #box span {
      font-size: 15px;
    }

    #box details {
      font-size: 15px;
    }
    
  }
