body {
  background-color: black;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  transition: all ease 1s;
}

body::-webkit-scrollbar:hover {
  width: 15px;
}


body::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 20px;
}

button {
  color: black;
  font-size: 40px;
  padding: 5px 5px;
  border: 2px solid ;
  border-radius: 50px;
  text-align: center;
  text-shadow: 100px 100px 100px 100px;
  transition: all ease .6s;
  text-decoration: none;
  list-style: none;
} 

.heading2,
.heading3,
 .heading4 {
  color: white;
  padding: 20px 30px;
}

/*Home Division*/

.but1 {
  background-color: cyan;
  border: 2px solid cyan;
}

.but1:hover {
  color: cyan;
  background-color: transparent;
  border: 2px solid cyan;
  border-radius: 5px;
}

#socialb {
  background-color: #39FF14;
  border: 2px solid #39FF14;
}

#socialb:hover {
  color: #39FF14;
  border-radius: 5px;
  background-color: transparent;
}

#aboutb {
  background-color: #9f1fef;
  border: 2px solid #9f1fef;
}

#aboutb:hover {
  color: #9f1fef;
  border-radius: 5px;
  background-color: transparent;
}

#particles-js {
  height: 70vh;
  position: static;
}

.home {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px 30px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.heading1 {
  font-family: helvetica;
  font-size: 75px;
  text-align: center;
  background: linear-gradient(to right, cyan,#39ff14,#ea07ff,#9f1fef);
  background-size: 200% auto;	
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s cubic-bezier(0.075, 0.82, 0.165, 1.5) infinite;
  font-stretch: 350%;
  
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 200% 100%;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*About Division*/

.about {
  transition-delay: 1s;
  display: none;
  color: white;
  animation: visible 2s;
  margin: 20px 20px;
  transition: all ease 1s;
}

#about-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 45px;
  width: 90%;
}

/*Social Division*/

.social {
  display: none;
  margin: 40px 25px;
  animation: visible 2s;
  transition: all ease 1s;
}

.social a {
  padding: 20px 40px;
  text-decoration: none;
  list-style: none;
}

.social .fa-brands,
.social .fa-solid {
  font-size: 50px;
  transition: 1s ease;
}

.social .fa-brands:hover,
.social .fa-solid:hover {
  transform: scale(1.5);
}

.social .fa-instagram {
  color: mediumvioletred;
}

.social .fa-github {
  color: white;
}

.social .fa-discord {
  color: #5865f2;
}

.social .fa-envelope-open {
  color: white;
}

.social .fa-linkedin {
  color: #0077b5;
}

.footer {
  color: white;
  max-height: 35px;
  width: 100%;
}

.footerh1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

/*Other Devices*/

@media all and (max-width: 600px) {

  #particles-js {
    height: 80vh;
  }

  .home {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
  }

  .social {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

}

@media all and (min-width: 601px) and (max-width: 1020px) {

  .home {
    position: absolute;
    top: 45%;
  }
}
